label span {
    color: #f8010e;
}

.contact-info-filed {
    @apply bg-gray-footer  md:max-w-[410px] p-8 md:p-12;
}

.contact-info h1 {
    font-size: 1.7rem;
}

.contact-info p {
    font-weight: 500;
}

.form-grid {
    margin-bottom: 1.2rem;
}

.form-grid .field {
    border: 2px black solid;
    margin-top: 4px;
    padding: 8px 16px;
    width: 100%;
}

.select-button[aria-expanded="true"] .arrow {
    transform: rotate(-90deg);
}