@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Satoshi-Bold;
    font-weight: 600;
    src: url("../public/fonts/Satoshi-Variable.ttf")
}

@font-face {
    font-family: Satoshi-Light;
    src: url("../public/fonts/Satoshi-Variable.ttf")
}

html {
    font-family: Satoshi-Light, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Satoshi-Bold, sans-serif;
}

.ril__navButtonNext {
    right: 0;
    background: rgba(0, 0, 0, 0.2) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+) no-repeat center !important;
}

.ril__navButtonPrev {
    left: 0;
    background: rgba(0, 0, 0, 0.2) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==) no-repeat center !important;
}

.ril__closeButton {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=) no-repeat center;
}

.ril__zoomOutButton {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PC9nPjxjaXJjbGUgY3g9IjEyIiBjeT0iOCIgcj0iNyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=) no-repeat center;
}

.ril__zoomInButton {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PHBhdGggZD0iTTEyIDV2NiIvPjwvZz48Y2lyY2xlIGN4PSIxMiIgY3k9IjgiIHI9IjciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+) no-repeat center;
}

.container {
    width: 90%;

    @media (min-width: 1561px) {
        max-width: 1480px !important;
    }

    @media (max-width: 1560px) {
        max-width: 1280px !important;
    }

    @media (max-width: 1024px) {
        width: 95%;
    }

}

.container-products {

    @media (min-width: 1561px) {
        width: 93% !important;
        margin-left: 7% !important;
    }

    @media (max-width: 1560px) {
        width: 97%;
        margin-left: 3%;
    }

    @media (max-width: 1024px) {
        width: 95%;
        margin-left: 5%;
    }

}

h1 {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold
}

h2 {
    @apply text-2xl sm:text-4xl xl:text-5xl font-bold
}

h4 {
    @apply text-3xl lg:text-4xl xl:text-3xl font-semibold
}

h5 {
    @apply md:text-lg lg:text-xl text-xl font-semibold
}

.date-corner {
    background: red;
    position: relative;
}

.date-corner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 10px solid #292929;
    border-left: 10px solid transparent;
    width: 0;
}

.collections-corner {
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 30%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 0 100%);
}


.bold-text {
    font-family: Satoshi-Bold, sans-serif;
}

.arrow-hover {
    background: url("../public/icons/right-arrow.svg");
}

.arrow-hover:hover {
    background: url("../public/icons/right-arrow-white.svg");
}

.button-hover-effect {
    .arrow {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../public/icons/right-arrow.svg");
    }
    &:hover .arrow {
        background-image: url("../public/icons/right-arrow-white.svg") !important;
    }
}

.button-hover-effect-black {
    .arrow {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../public/icons/right-arrow-white.svg");
    }
    &:hover .arrow {
        background-image: url("../public/icons/right-arrow.svg") !important;
    }
}

.splide-slide-main-page-button {
    .arrow {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../public/icons/right-arrow.svg");
    }
    border: 2px solid white;
}

.splide-slide-main-page:hover .splide-slide-main-page-button {
   .arrow {
        background-image: url("../public/icons/right-arrow-white.svg") !important;
    }
    background-color: black;
    color: white;
}
