.custom-gap {
  margin: -5px;
}

.custom-gap li {
  margin: 5px;
}

.cut-corner {
  position: relative;
}

.cut-corner:before {
  content: '';
  position: absolute;
  top: 0; right: 0;
  border-left: 16px solid transparent;
  width: 0;
}

.cut-corner-white:before {
  border-top: 16px solid white;
}

.cut-corner-dark:before {
  border-top: 16px solid #292929;
}

.bottom-triangle:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #191919;
}

.tooltip {
  opacity: 0;
  transition: opacity 0.3s;
}

.card-with-tooltip:hover .tooltip {
  opacity: 1;
}

.svg-black path {
  fill: black !important;
}

.rich-text h1 {
  font-size: 2.3rem;
}

.rich-text h2 {
  font-size: 1.7rem;
}

.rich-text h1, .rich-text h2 {
  margin-bottom: 1.7rem;
  margin-top: 6rem;
  position: relative;
}

.rich-text h1:before, .rich-text h2:before {
  content: "";
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #EDEDED;
}

.rich-text h1:first-child:before, .rich-text h2:first-child:before {
  display: none;
}

.rich-text li {
  list-style: initial;
  margin-left: 2rem;
  margin-bottom: 1.2rem;
}

.rich-text li:last-child {
  margin-bottom: 0;
}